html, body, .container {
  font-family: 'Open Sans', sans-serif; }

nav {
  margin-bottom: 40px; }
  nav .nav-wrapper .container {
    text-align: center; }
  nav ul li {
    display: inline-block;
    margin-right: 40px; }
    nav ul li a {
      color: #000; }
      nav ul li a:hover {
        color: #00796b; }

.banner-wrapper {
  padding-top: 40px;
  padding-bottom: 40px; }

.center {
  margin: auto; }

.posts-container {
  border-top: 1px solid #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
  padding-top: 10px;
  padding-bottom: 30px; }
  .posts-container hr:last-child {
    display: none; }

.widgets {
  text-align: center; }
  .widgets h4 {
    border: 1px solid #9e9e9e;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .widgets .img-profile {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #b2dfdb; }

.posts h2 a {
  color: #4db6ac; }

.post-body p {
  display: block;
  display: -webkit-box;
  height: 101.2px;
  margin: 0 auto;
  font-size: 14px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

footer {
  margin-top: 40px;
  background-color: #e0f7fa;
  padding: 20px; }
